# Byte compiled files
__pycache__/

# Files used for dev testing
ror2_run_data_analysis.ipynb
SQL/

# Files used/maintained by project scripts
run_report_db.db
settings.txt

# Virtual Environment
venv/